{{- if .Params.thumbnail -}}

    {{- $thumbUrl := "" -}}
    {{- if or (hasPrefix .Params.thumbnail "http://") (hasPrefix .Params.thumbnail "https://") -}}
        {{- $thumbUrl = .Params.thumbnail -}}
    {{- else -}}
        {{- $res := .Resources.GetMatch .Params.thumbnail -}}
        {{- if $res -}}
            {{- $thumbUrl = $res.RelPermalink -}}
        {{- else -}}
            {{- $thumbUrl = .Params.thumbnail | relURL -}}
        {{- end -}}
    {{- end -}}

    <figure class="post__thumbnail">
        <img src="{{ $thumbUrl }}" alt="{{ .Title }}">
    </figure>

{{- end -}}